<h1>{{weatherData?.city_name}}</h1>
<div class="card__row">
    <app-description>
        <span descriptions-title i18n>current </span>
        {{weatherData?.temp}}
    </app-description> 
    <app-description>
        <span descriptions-title i18n>feels</span>
        {{weatherData?.temp_feels}}
    </app-description>
    
</div>
<div class="card__row">
    <app-description>
        <span descriptions-title i18n>max</span>
        {{weatherData?.temp_max}}
    </app-description> 
    <app-description>
        <span descriptions-title i18n>min</span>
        {{weatherData?.temp_min}}
    </app-description>
    
</div>
<div class="card__row">
    <app-description>
        <span descriptions-title i18n>humidity</span>
        {{weatherData?.humidity}}
    </app-description>
    
</div>