.container {
    &__weather {
       

        &__loading_overlay {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__cart {
        @apply w-full max-w-lg mx-auto h-1/3;
    }



    /* Responsive styles - Mobile-first approach */
    @media (min-width: 600px) {

        /* Enhancements for screens wider than 600px */
        .container__cart {
            @apply max-w-xl;
        }
    }

    @media (min-width: 900px) {

        /* Enhancements for screens wider than 900px */
        .container__cart {
            @apply max-w-2xl;
        }
    }

    @media (min-width: 1200px) {

        /* Enhancements for screens wider than 1200px */
        .container__cart {
            @apply max-w-3xl;
        }
    }
}

mat-progress-spinner {
    width: 50px;
    height: 50px;
  }